
.project-location-container {
    font-size: 40px;
    margin-top: 5%;
    text-align: center;
  }
  
  .location-description {
    text-align: center;
    margin: 20px auto;
    max-width: 800px; /* Adjust width for readability */
    line-height: 1.6;
  }
  
  .image-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Adjusts dynamically to screen size */
    gap: 25px;
    padding: 25px;
    justify-items: center; /* Centers items within each grid cell */
  }
  
  .image-item img {
    width: 200px; /* Set a fixed width */
    height: 200px; /* Set a fixed height */
    object-fit: cover; /* Ensures the image fits within the container while maintaining aspect ratio */
    border-radius: 8px; /* Optional: Round corners */
    cursor: pointer;
    transition: transform 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  }
  
  .image-item img:hover {
    transform: scale(1.05); /* Slightly enlarges on hover */
  }
  
  /* Modal styling */
  .modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    cursor: pointer;
  }
  
  .modal-content {
    max-width: 80%;
    max-height: 80%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 20px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .modal-navigation {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
  }
  
  .prev-button,
  .next-button {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
  }
  
  .prev-button {
    position: absolute;
    left: 10px;
  }
  
  .next-button {
    position: absolute;
    right: 10px;
  }
  @media screen and (max-width: 768px){
    .project-location-container{
 
      margin-top: 50px;
    }
  }
  @media screen and (max-width: 480px){
    .location-description{
      font-size: 15px;
    }
    .image-item img {
      width: 100px; /* Set a fixed width */
      height: 100px; /* Set a fixed height */
      
    }
    .image-gallery {
      
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); /* Adjusts dynamically to screen size */
      gap: 15px;
      padding: 15px;
    }
    .project-location-container{
      font-size: 30px;
      margin-top: 50px;
    }
  }