.audience-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw; /* Full width of the viewport */
    padding: 0; /* Remove any padding */
    flex-wrap: wrap; /* Allow wrapping on smaller screens */
    margin-top: 5rem !important;
    margin-bottom: 3rem !important;
}

.image-container {
    flex: 1;
    margin-left: 4rem; /* 4rem margin to the right of the image */
}

.audience-image {
    width: 100%;
    height: auto;
}

.text-container {
    flex: 1;
    padding: 20px;
}

.text-container h2 {
    margin-bottom: 15px;
    font-size: 24px;
    color: #D2D2D2;
}

.text-container p {
    /* font-size: 16px; */
    /* color: #666; */
    line-height: 1.6;
}

ul {
    list-style-type: disc; /* Ensures bullet points appear */
    margin-left: 20px; /* Adds margin to align bullets properly */
}

li {
    margin-bottom: 0.5rem; /* Space between list items */
}

/* Responsive Styles */
@media (max-width: 1024px) {
    .audience-section {
        flex-direction: column; /* Stack image and text vertically on tablet */
    }
    
    .image-container {
        margin-right: 0;
        margin-bottom: 2rem; /* Add space between image and text */
        display: flex;
        justify-content: center; /* Center the image horizontally */
    }

    .audience-image {
        width: 80%; /* Add left and right margins by reducing image width */
    }
}

@media (max-width: 768px) {
    .text-container h2 {
        font-size: 22px;
    }

    .text-container p {
        font-size: 14px;
    }

    .image-container {
        margin-right: 0;
        display: flex;
        justify-content: center; /* Ensure image is centered */
    }

    .audience-image {
        width: 80%; /* Adjust width for better spacing */
    }
}

.about_pg2r3{
bottom:-50px; 
left:60px; 
 }
.about_pg2r2{
top:70px;
left:250px; 
 }
#about_pg{
padding-bottom:80px;
 }
.team_1m1i1 ul li a{
width:40px;
height:40px;
line-height:40px;
background:#eee;
color:#333;
transition: 0.3s; 
 }
.team_1m1i1 ul li a:hover{
background:#fff;
color:#000;
 }
.team_1m1i1{
top:0;
padding-top:320px;
display:none;
transition: 0.3s;  
 }
.team_1m1:hover .team_1m1i1{
display:block; 
 }
 
.accordion-button:not(.collapsed) {
color: #333;
background-color: #fff;
box-shadow:none;
font-weight:bold;
}
.accordion-button {
background:none;
color:#D2D2D2;
font-size:18px;
padding-top:20px;
padding-bottom:20px;
}
.accordion-item {
background:none;
border: 1px solid #282828;
}
.accordion-button:focus {
box-shadow: none;
border: none;
}
/*********************about_end****************/



@media screen and (max-width : 767px){
.about_pg1  .font_50{
font-size:40px; 
 }
.about_pg1  br{
display:none;
 }
.about_pg1  p{
text-align:left;
 }
.about_pg2l{
text-align:center;
margin-bottom:15px; 
 }
.about_pg2l p{
text-align:left; 
 }
.about_pg2r  img{
width:100%; 
 }
.about_pg2r2 {
position:static!important; 
 }
.about_pg2r3 {
position:static!important; 
 }
#about_pg {
padding-bottom: 30px;
}
.about_h1r{
margin-top:15px; 
 }
.price_1i {
margin-top:0!important; 
text-align:center; 
 }
.price_1i p{
text-align:left; 
 }
.price_1i1{
margin-top:15px;
text-align:center; 
 }
.team_1m2 {
text-align:center;  
 }
.team_1m{
margin-top:8px; 
margin-bottom:8px;  
 }
.team_1m1i1 {
padding-top:20px;
}
.about_pg2r3 {
width:100%!important; 
 }
.about_pg2l{
margin-top:10px; 
 }
 }


@media (min-width:576px) and (max-width:767px) {


 }
 
@media (min-width:768px) and (max-width:991px) {
.about_pg1  br{
display:none; 
 }
.about_pg2r2 {
left: 50px;
}
.about_pg2r3 {
left: 80px;
}
.about_h1l img{
min-height:300px; 
 }
.team_1m1i1 {
padding-top:20px;
}
.faq_1 img{
min-height:300px;  
 }
.about_pg2l .font_50{
font-size:30px;
 }
.accordion-button {
font-size: 14px;
}
 }

@media (min-width:992px) and (max-width:1200px) {
.about_pg2r2 {
left: 150px;
}
.team_1m1i1 {
padding-top:250px;
}
.faq_1 img{
min-height:360px;  
 }
 }
@media (min-width:1400px) and (max-width:1600px) {
#team{
margin-top:70px!important; 
 }
 }



