/* Footer Container */
.footer-container {
    background-color: #4c586f;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    
    height: 200px;
  }
  
  /* Footer Links Section */
  .footer-links {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
    text-align: center;
    /* margin-bottom: 2rem; */
  }
  
  .footer-link-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  
  .footer-link-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1.5rem;
  }
  
  .footer-link-items h2  {
    margin-bottom: 10px;
    margin-top: 30px;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
  }
  .footer-link-items a:hover{
    transform: translateY(-5px); 
    
  }
  .footer-link-items a {
    color: #fff;
    text-decoration: none;
    /* margin-bottom: 0.5rem; */
    font-size: 25px;
  }

  .footer-link-items a:hover {
    color: #0071c6;
    transition: 0.3s ease-in-out;
  }
  
  /* Footer Social Icons Section */
  .footer-link-icons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .social-icon-link {
    color: #fff;
    font-size: 24px;
    margin: 0 0.5rem;
    transition: color 0.3s ease-in-out;
  }
  
  /* Social Media Section */
  .social-media {
    max-width: 1000px;
    width: 100%;
  }
  
  .social-media-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 90%;
    max-width: 1000px; */
   
  }
  
  .footer-logo img {
  width: 60px;
  height: auto;
  }
  .footer-logo img:hover{
    transform: translateY(-5px);
  }
  .website-rights {
    color: #fff;
    font-size: 14px;
    margin: auto;
    text-align: center;
    margin-right: 280px;
 
  }
  .social-logo{
    margin-left: 45px;
  }
  .european-logo img{
    width: 200px;
  height: auto;
  margin-right: -40px;
  margin-top: 10px;
  }

  /* Responsive Design */
  @media screen and (max-width: 960px){
    .website-rights {
     
      margin-right: 260px;
   
    }
    .european-logo img{
      margin-right: 10px;
      width: 150px;
    }
}
  @media screen and (max-width: 768px) {
    
    .footer-container {
      height: 100%;
      
      }
      .footer-link-wrapper {
      flex-direction: column;
    }
  
    .social-media-wrap {
      flex-direction: row; 
        /* margin-left: -40px; */
        
      }
      .website-rights {
     
        margin-right: 120px;
     
      }
      .footer-logo{
        margin-left: 50px;
      }
      .social-icon-link {
        margin: 0.5rem;
      }
      .european-logo img{
        margin-right: 50px;
        width: 150px;
      }
    }
   

  @media screen and (max-width: 480px) {
    .footer-container {
    height: 100%;
    
    }

    .footer-link-items h2 {
      font-size: 16px;
    }
  
    .footer-link-items a {
      font-size: 20px;
    }
    .social-media-wrap {
      flex-direction: column;         
      }
    .website-rights {
      font-size: 12px;
      margin-right: 50px;
    }
    .social-media-wrap {
      margin-left:  -30px;
    }
    .social-media-wrap small{
      margin-left: 80px;
     
      
    }
    .footer-logo{
      margin-left: 0px;
      margin-right: 15px;
    }
    .european-logo img{
      margin-left: 100px;
   
    }
  }
  